        header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #3A4042;
                border-bottom: 10px solid #000;
                padding: 10px 20 px; 
        } 
        h1 {
            font-family:'Shadows Into Light', sans-serif;
            color: #fff;
            padding: 20px;
            font-size: 40px;
           
        }
        nav  {

            text-align: right;
        }

        
        a {
            display: inline-flex;
            align-items: center;
            color:white;
             font-size: 20px;
            font-family: "Inconsolata", Arial, Helvetica, sans-serif;
            text-decoration: none;
            margin-right: 30px;  
        }

        a:before {
            content: "";
            background-color: white;
        width: 10px;
        height: 10px;
        margin-right: 10px;

        }
        span {
        display: inline-block;
        background-color: white;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }

    #button {
    display: inline-block;
    background-color: #99C1DE;
    box-shadow: 5px 5px 5px white;
    padding: 18px 20px;
    margin-right: 10px;
    transition: transform 100ms linear;
    }

    #button:hover {
        transform: scale(1.08);
    }